// out: index.wxss
.page-index {
  height: 100%;
  font-weight: 500;
  @padding: 20rpx;

  .contents {
    position: relative;
    width: 750rpx;
    background: #eee;
  }

  @dataH: 160rpx;
  @dataB: 80rpx;

  .top-box {
    position: relative;
    padding: 0 40rpx;
    height: @dataH;
    display: flex;
    justify-content: flex-start;
    align-items: center;

    .time-box {
      height: 100rpx;
      display: flex;
      justify-content: flex-start;
      align-items: center;

      .date {
        height: 100rpx;
        width: 100rpx;
        overflow: hidden;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 72rpx;
        font-weight: 100;
      }

      .date-more {
        margin-left: 6rpx;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;

        .date-week,
        .date-c {
          font-size: 26rpx;
          color: #999;
          font-weight: 500;
        }

        .date-week {}
        .date-c {}
      }
    }

  }

  // 主题样式1
  .swiper-box {
    position: absolute;
    top: @dataH;
    bottom: @dataB;
    left: 0;
    right: 0;
    height: auto;

    .swiper-item {
      width: 750rpx;
      height: 100%;
      padding: 20rpx;
      box-sizing: border-box;
      .inner-content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        writing-mode: vertical-rl;
        letter-spacing: 20rpx;

        height: 100%;
        width: 100%;
        overflow-y: scroll;
        -webkit-overflow-scrolling: touch;
        background: #fff;
        border: 1px solid #eee;
        box-shadow: 0 6rpx 10rpx #dfdfdf;
        border-radius: 8rpx;
        // padding: 20rpx;
        font-size: 80rpx;

        .poster {
          display: block;
          height: 100%;
          width: 100%;
        }
      }
    }
  }

  // 主题样式2
  .list-card-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 40rpx;
    .item-card {
      margin-bottom: 40rpx;
      background: #fff;
      box-shadow: 0 8rpx 30rpx #ddd;
      border-radius: 6rpx;
      font-size: 60rpx;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      .icon-box {
        height: 190rpx;
        width: 190rpx;
        overflow: hidden;
        display: flex;
        justify-content: center;
        align-items: center;
        .icon-cnode {
          font-size: 80rpx;
        }
      }
      .more-info {
        padding: 40rpx 20rpx 20rpx 0;
        flex: 1;
        display: flex;
        flex-direction: column;
        justify-content: center;
        .main-text,
        .sub-text{
          display: flex;
          justify-content: flex-start;
          align-items: center;
         }
        .main-text{
          height: 50rpx;
          font-size: 60rpx;
        }
        .sub-text{
          padding: 20rpx 0;
          color: #999;
          font-size: 26rpx;
          line-height: 120%;
          font-weight: 300;
        }
      }
    }
  }
}
